h1{
    background-color: rgb(162, 205, 244);
}
body{
    background-color: rgb(238, 101, 101);
}
header, main, footer{
    padding-bottom: 1rem;
    background-color: antiquewhite;
    margin-top: 1rem;
}
header:hover, main:hover, footer:hover{
    opacity: 0;
}